@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  background: url(../img/pump.png) 183% 37%/80% no-repeat, linear-gradient(121.44deg, #F4A709 7.15%, rgba(188, 190, 76, 0.89) 96.42%);
  padding: 0px 0px 50px 0px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.header__menu li {
  text-align: center;
  margin: 0px 20px 0px 0px;
}
.header__menu li:first-child {
  text-decoration: underline;
  font-weight: bold;
}
.header__menu li:last-child {
  margin: 0px 0px 0px 0px;
}
.header__link {
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__title {
  max-width: 50%;
  font-weight: bold;
  font-size: 55px;
  line-height: 67px;
  margin: 0px 0px 30px 0px;
}
.header__txt {
  max-width: 35%;
  font-size: 25px;
  line-height: 33px;
  margin: 0px 0px 50px 0px;
}
.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo__row {
  display: flex;
  align-items: center;
}
.logo__col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__col_right {
  padding: 0px 0px 0px 10px;
}
.logo__col_right a {
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  color: #000000;
}
.logo__col_right p {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.phone__link {
  display: inline-block;
  padding: 17px;
  padding-left: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  background: url(../img/phone.svg) 4px center no-repeat, #0FBA34;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.back-call__link {
  display: inline-block;
  padding: 17px;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  background: #0FBA34;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}